In [3]:
lt = [1, 2, 3]
type(lt)

list

In [7]:
import numpy as np
arr = np.array([1, 2, 3])
arr

array([1, 2, 3])

In [8]:
type(arr)

numpy.ndarray

In [9]:
arr.dtype

dtype('int64')

In [13]:
arrAnother = np.array([1, 2, '3'])
arrAnother

array(['1', '2', '3'], dtype='<U21')

In [16]:
arrAnother.dtype

dtype('<U21')

In [17]:
arrAnotherAgain = np.array([1, 2, '3'], dtype='int64')

In [19]:
arrAnotherAgain.dtype

dtype('int64')

In [20]:
arrAnotherAgain = np.array([1, 2, '3'], dtype='int')

In [21]:
arrAnotherAgain.dtype

dtype('int64')

In [24]:
arrAnotherAgain = np.array([1, 2, '3', True], dtype='int32')

In [25]:
arrAnotherAgain

array([1, 2, 3, 1], dtype=int32)

# NP ZEROS

In [31]:
arr = np.zeros(10)
arr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [39]:
arr = np.zeros(10, dtype=int)
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [40]:
arr.dtype

dtype('int64')

In [45]:
arr = np.zeros(10, int)
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [46]:
arr.dtype

dtype('int64')

arr = np.zeros(10, int64)
---------------------------------------------------------------------------
NameError                                 Traceback (most recent call last)
<ipython-input-47-135b2e588661> in <module>
----> 1 arr = np.zeros(10, int64)

NameError: name 'int64' is not defined

In [48]:
arr = np.array([1, 2, 3], dtype=int)

In [49]:
arr

array([1, 2, 3])

In [50]:
arr.dtype

dtype('int64')

In [51]:
arr = np.zeros(10, dtype='int32')

In [52]:
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [53]:
mat = np.zeros((3, 4), dtype=int)

In [54]:
mat

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [55]:
arr3d = np.zeros((3, 4, 5), dtype=int)

In [56]:
arr3d

array([[[0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0]],

       [[0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0]],

       [[0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0],
        [0, 0, 0, 0, 0]]])

In [59]:
arr3d[0][0][0] = "3303" # automatically converts string to an integer since we had defined it as so ERROR IF YOU CAN;t

In [60]:
arr3d

array([[[3303,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]],

       [[   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]],

       [[   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]]])

In [62]:
# slicing
arr[2:4]

array([0, 0], dtype=int32)

# arr.shape

In [66]:
arr

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int32)

In [67]:
arr.shape

(10,)

In [68]:
mat

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [69]:
mat.shape

(3, 4)

In [70]:
arr3d

array([[[3303,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]],

       [[   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]],

       [[   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]]])

In [71]:
arr3d.shape

(3, 4, 5)

# Selecting Columns from a matrix (2d arr by definition)

In [78]:
mat = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [82]:
mat

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [83]:
mat[0]

array([1, 2, 3])

In [85]:
mat[:0] #wrong mat[1:] gives

array([], shape=(0, 3), dtype=int64)

In [88]:
mat[:, 0] # everything in terms of rows , 0th column

array([1, 4, 7])

# more columns

In [91]:
arr = np.array([ [1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6]])

In [92]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [93]:
arr[1:, 1:]

array([[5, 6],
       [2, 3],
       [5, 6]])

In [94]:
arr[1:3, 1:3]

array([[5, 6],
       [2, 3]])

In [95]:
arr[1:3, 1:3].shape

(2, 2)

# numpy operations

In [96]:
arr

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3],
       [4, 5, 6]])

In [97]:
sum(arr)

array([10, 14, 18])

In [98]:
len(arr)

4

In [101]:
min([1, 3, 4])

1

In [102]:
min(np.array([1, 2, 3]))

1

In [107]:
min([[1, 2, 3], [0, 5, 6]])

[0, 5, 6]

In [110]:
min(np.array([[1, 2, 3], [0, 5, 6]]), key=sum)

array([1, 2, 3])

In [111]:
sum(np.array([1, 2, 3]))

6

ERROR sum([ [1, 2, 3], [0, 5, 6] ])

In [116]:
sum(np.array( [ [1, 2, 3], [0, 5, 6] ]))

array([1, 7, 9])

In [117]:
np.array( [ [1, 2, 3], [0, 5, 6] ]).sum()

17

In [118]:
arr3d

array([[[3303,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]],

       [[   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]],

       [[   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]]])

In [120]:
arr3d[1][0][0] = 1

In [123]:
arr3d[1][0][1] = 2

In [124]:
arr3d

array([[[3303,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]],

       [[   1,    2,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]],

       [[   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0],
        [   0,    0,    0,    0,    0]]])

In [125]:
arr3d[2][0][0] = 2

In [126]:
sum(arr3d)

array([[3306,    2,    0,    0,    0],
       [   0,    0,    0,    0,    0],
       [   0,    0,    0,    0,    0],
       [   0,    0,    0,    0,    0]])

In [127]:
sum(sum(arr3d))

array([3306,    2,    0,    0,    0])

In [128]:
sum(sum(sum(arr3d)))

3308

# Numpy arrays work like vectors in math (a +-*/ b) is element wise

In [129]:
a = [1, 2, 3]
b = [4, 5, 6]

In [130]:
a + b

[1, 2, 3, 4, 5, 6]

a -*/ b is not defined for python lists

In [134]:
a = np.array(a)
b = np.array(b)

In [135]:
a + b

array([5, 7, 9])

In [136]:
a - b

array([-3, -3, -3])

In [137]:
a * b

array([ 4, 10, 18])

In [143]:
a / b

array([0.25, 0.4 , 0.5 ])

In [144]:
(a / b).dtype

dtype('float64')

In [145]:
np.array(a / b, dtype='int')

array([0, 0, 0])

In [146]:
np.array(a + b)

array([5, 7, 9])

In [147]:
c = a + b

In [148]:
c

array([5, 7, 9])

In [149]:
c.sum()

21

In [150]:
c.mean()

7.0

In [151]:
a ** b

array([  1,  32, 729])

In [152]:
a - 1

array([0, 1, 2])

In [153]:
(a - a.mean()) ** 2

array([1., 0., 1.])

In [154]:
((a - a.mean()) ** 2).sum()

2.0

In [155]:
((a - a.mean()) ** 2).mean()

0.6666666666666666

In [156]:
x = np.array([1, 2, 3])

In [157]:
x.mean()

2.0

In [158]:
((x - x.mean()) ** 2).mean()

0.6666666666666666

In [160]:
from math import sqrt
sqrt(((x - x.mean()) ** 2).mean())

0.816496580927726

In [161]:
np.std(x)

0.816496580927726

In [162]:
np.array([1, 2, 3], dtype=np.float64)

array([1., 2., 3.])

In [163]:
np.std(x) == sqrt(((x - x.mean()) ** 2).mean())

True

In [168]:
a1 = np.array([1, 2, 3])
a2 = np.array([1, -3, 2])

In [169]:
a1.dot(a2)

1

In [170]:
a1 = np.array([[1, 2, 3,], [4, 5, 6]])

In [171]:
a2 = np.array([[10, 20, 30,], [40, 50, 60]])

In [173]:
a1 * a2 # element wise

array([[ 10,  40,  90],
       [160, 250, 360]])

 a1.dot(a2)  ERROR not aligned 2x3, 2x3 not allowed

In [176]:
a1 = np.array([ [1, 2], [3 ,4] ])
a2 = np.array([ [10, 20], [30, 40] ])

In [177]:
a1.dot(a2)

array([[ 70, 100],
       [150, 220]])

In [181]:
np.matmul(a1, a2)

array([[ 70, 100],
       [150, 220]])

In [182]:
a1.dot(a2) == np.matmul(a1, a2)

array([[ True,  True],
       [ True,  True]])

In [184]:
mat1 =np.array([ [1, 2], [3 ,4] ])
mat2 = np.array([ [10, 20], [30, 40] ])

In [185]:
mat1 * mat2

array([[ 10,  40],
       [ 90, 160]])

In [186]:
np.matmul(mat1, mat2)

array([[ 70, 100],
       [150, 220]])

In [187]:
a1 * a2

array([[ 10,  40],
       [ 90, 160]])

In [188]:
mat1 * mat2

array([[ 10,  40],
       [ 90, 160]])

In [189]:
a1 * a2 == mat1 * mat2

array([[ True,  True],
       [ True,  True]])

In [190]:
type(mat1)

numpy.ndarray

In [191]:
type(a1)

numpy.ndarray

In [192]:
a1 == mat1

array([[ True,  True],
       [ True,  True]])